@import "tailwindcss";
@plugin 'tailwind-scrollbar';

:root {
  --background: #ffffff;
  --foreground: #0f0e0e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --animate-wiggle: wiggle 0.7s ease-in-out;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(12deg);
    }
    75% {
      transform: rotate(-12deg);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f0e0e;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-be-vietnam-pro);
}
